table {
    border-collapse: collapse;
}

table th,
table td {
    padding: 7px 10px;
}

table thead {
    text-align: left;

    background-color: black;
    color: white;
    border-bottom: 2px solid black;
}

table tbody tr:nth-child(2n){
    background-color: gray;
    border: none;
}