table {
    border-collapse: collapse;
    width: 100%;
}

table caption {
    position: relative; 
}

table .controls {
    position: absolute;
    left: 0;
    bottom: 0px;
}

table th,
table td {
    padding: 7px 10px;
}

table thead {
    text-align: left;

    background-color: var(--color-main);
    color: white;
}

table tbody tr:nth-child(2n) {
    background-color: var(--color-main-weak)
}